/* Stylesheet for testimonials project */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --white: hsl(0deg 0% 100%);
  --violet: hsl(263deg 55% 52%);
  --dark-gray-blue: hsl(217deg 19% 35%);
  --dark-black-blue: hsl(219deg 29% 14%);
  --light-gray: hsl(0deg 0% 81%);
  --light-gray-blue: hsl(210deg 46% 95%);

  /* Set dimension variables */
  --desktop-width: 1030px;
  --mobile-width: 375px;
}

body {
  background-color: var(--light-gray-blue);
  font: 500 13px "Barlow Semi Condensed", sans-serif;
}

main {
  padding: 5rem;
  display: grid;
  gap: 20px;
}

.testimonial {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 10px 5px 5px var(--light-gray);
}

.dan {
  background-color: var(--violet);
}

.jon {
  background-color: var(--dark-gray-blue);
}

.pat {
  background-color: var(--dark-black-blue);
}

.dan,
.jon,
.pat {
  color: var(--white);
}

.jean,
.kira {
  background-color: var(--white);
}

.mugshot {
  border-radius: 50%;
}

.highlight {
  font-weight: 600;
  font-size: large;
}

.quote {
  opacity: 0.7;
}

.person p:nth-child(2) {
  opacity: 0.5;
}

/* Change to grid if screen size larger than mobile width */
@media screen and (min-width: 375px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }

  .dan {
    grid-column: 1 / 3;
  }

  .pat {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  .jean {
    grid-row: 2;
  }

  .kira {
    grid-row: 1 / 3;
    grid-column: -2 / -1;
  }
}
