/* Stylesheet for testimonials project */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --white: hsl(0, 0%, 100%);
  --violet: hsl(263, 55%, 52%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);

  /* Set dimension variables */
  --desktop-width: 1030px;
  --mobile-width: 1030px;
}

body {
  background-color: var(--light-gray);
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.dan {
  background-color: var(--violet);
}

.jon {
  background-color: var(--dark-gray-blue);
}

.pat {
  background-color: var(--dark-black-blue);
}

.dan, .jon,
.pat {
  color: var(--white);
}

.jean,
.kira {
  background-color: var(--white);
}

.quote {
  opacity: 0.7;
}

.person p:nth-child(2) {
  opacity: 0.5;
}
