/* Stylesheet for testimonials project */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --white: hsl(0deg 0% 100%);
  --violet: hsl(263deg 55% 52%);
  --dark-gray-blue: hsl(217deg 19% 35%);
  --dark-black-blue: hsl(219deg 29% 14%);
  --light-gray: hsl(0deg 0% 81%);
  --light-gray-blue: hsl(210deg 46% 95%);

  /* Set dimension variables */
  --desktop-width: 1440px;
  --mobile-width: 375px;
}

body {
  background-color: var(--light-gray-blue);
  font: 500 13px "Barlow Semi Condensed", sans-serif;
}

main {
  margin: 0 auto;
  padding: 5rem;
  max-width: var(--desktop-width);
  display: grid;
  gap: 20px;
}

.testimonial {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 3px 15px var(--light-gray);
}

.dan {
  background-color: var(--violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% top;
}

.jon {
  background-color: var(--dark-gray-blue);
}

.pat {
  background-color: var(--dark-black-blue);
}

.dan,
.jon,
.pat {
  color: var(--white);
}

.jean,
.kira {
  background-color: var(--white);
  color: var(--dark-black-blue);
}

.person {
  display: grid;
  grid-template-areas: 
    "image name"
    "image verify";
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.mugshot {
  border-radius: 50%;
  max-height: 50%;
  grid-area: image;
}

.name {
  grid-area: name;
  align-self: end;
}

.verify {
  opacity: 0.5;
  grid-area: verify;
  align-self: start;
}

.highlight {
  font-weight: 600;
  font-size: large;
}

.quote {
  opacity: 0.7;
  line-height: 1.4em;
}

/* Change layout on larger screens */
@media screen and (min-width: 375px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }

  .dan {
    grid-column: 1 / 3;
  }

  .pat {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  .jean {
    grid-row: 2;
  }

  .kira {
    grid-row: 1 / 3;
    grid-column: -2 / -1;
  }
}
